
@media (max-width: 767px){

  form.form-inline{
    padding: 25px 0px;
  }

  .navbar-toggle{
    border: 0;
  }

  .nopadding-left{
    margin-top: 10px;
  }

   div.navbar-collapse.blackbackground{
    background-color: black;
   }

  .specialspaservices>p:nth-child(3){
    padding-top: 20px;
  }

  body>img.fullwidth{
    margin-bottom: 25px;
  }

  img.float-sm-left{
    display: block;
    margin: 0 auto;
  }

  form.visible-xs-block{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  footer.makefooter>ul>li{
    padding-top: 10px;
  }

  .blackbackground ul.nopadding-left li a:link,.blackbackground ul.nopadding-left li a:visited{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  }

  .blackbackground ul.nopadding-left{
    padding: 2px 0;
  }
  .blackbackground ul.nopadding-left li{
    padding: 0px 0;
    text-align: center;
  }

  .blackbackground ul.nopadding-left li>a{
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
  }
  /*Converts the form into an Inline element and the width is given using a relative sizing so that the spacing matches with the desging provided in mobile mode */
  .form-inline .makeinline{
    display: inline-block;
    width: 73%;
  }

  
  .blackbackground ul.nopadding-left li a:hover,.blackbackground ul.nopadding-left li a:focus{
    background-color: white;
    display: block;
    color: #df1750;
    text-decoration: none;
  }

  .blackbackground ul.nopadding-left li.on a{
    background-color: white;
    display: block;
    color: #df1750;
  }

}



/*Turns all the image into full width. This leads to them acting responsively in this case. */
.fullwidth{
  width: 100%;
}


/*This is responsbile for the looks of the welcome ,about us, and the services box . */
.shadowandoverlap{
	 box-shadow: 0px 0px 4px #888888;
	 padding: 5%;
	 padding-top:1%;
	 border-radius: 0%;
}
.pinktext{
	color: #df1750;
}

/*This gives margins to all the main text body inside the welcome , about us and services box.*/
.marginforsection{
	margin-left: 0;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*Right aligns the more button inside the boxes Welcome , About US and Services. */


/*These apply to the webpage in non mobile mode. */
@media (min-width: 768px){

  .float-sm-left{
    float: left;
  }

  form.form-inline{
    padding-top: 5px;
  }

  div.navbar-collapse.blackbackground{
    background-color:black;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .navbar-collapse ul>li{
    display: inline;
  }

  span.float-sm-left{
    padding-left: 5px;
  }
  .specialspaservices>p{
    padding-left: 200px;
  }


  .makeright{
    float: right;
  }

  .navbar a:link{
  	color: white;
  }

  .navbar a:visited{
  	color: white;
  }

  .shadowandoverlap{
  	margin-top: -26%;
  	background-color: white;
  }
  .mobilecenter{
    clear: both;
  }

  footer.makefooter>ul>li{
    padding-right: 1vw;
    display: inline;
  }
  footer.makefooter>ul{
    width: 50%;
    text-align: right;
    float: right;
  }


  .form-inline .form-control{
    width: 300px;
  }
  .spaheader{
    margin-bottom: 35px;
  }
   /*Fixes the vertical space alignment in the navbar in desktop view. */

}

footer.makefooter{
  border-top-width: 2.5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: #bf0c3b;
  border-style: solid;
  margin-top: 30px;
}



footer a:link,a:hover,a:active,a:visited{
  color:black;
  text-decoration: none;
}




.form-control:focus,.form-control{
  border-color: #df1750;
  box-shadow: none;
  border-radius: 0;
  border-width: 2px;
}

.form-inline .btn {
  background-color: #df1750;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

 .navbar-default div.navbar-header a:link,.navbar-default div.navbar-header a:visited,.navbar-default div.navbar-header a:focus,.navbar-default div.navbar-header a:hover{
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  color: #df1750;
  background-color:white;
}

footer.makefooter>ul , .makefooter>span.float-sm-left{
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .makefooter>span.float-sm-left , footer.makefooter>ul{
    font-size: 12px;
  }
  .nav > li > a{
    padding-left: 7px;
    padding-right: 7px;
  }
}



@media (min-width: 992px) and (max-width: 1199px){
  .container .row div.col-md-offset-1 {
    margin-left: 40px;
  }
}

@media (max-width: 767px){

  .shadowandoverlap{
    margin-top: 25px;
  }

  footer.makefooter>ul{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
  .col-xs-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*Matches the spacing in the navigation bar in mobile mode. The nav buttons are a bit larges without this. */

  .form-inline.makeright {
    padding-left: 0px;
    padding-right: 0px;
  }
}


.spaheader{
  margin-top: 35px;
  color: #df1750;
}



@media (min-width: 992px) {
  .container .row section.col-sm-4 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .container .row section.col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .form-inline .form-control {
  	width: 180px;
  }
}


footer.rightalign {
  padding-right: 0px;
  text-align: right;
}


@media (min-width: 768px){
  div.navbar-collapse.blackbackground li{
    padding-right: 15px;
  }

  .blackbackground li a:hover,.blackbackground li a:visited{
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .blackbackground li a:link,.blackbackground li a:focus{
    color: white;
    background-color: black;
    text-decoration: none;
  }

  .blackbackground li.on a:link,.blackbackground li.on a:visited{
  	color: white;
    background-color: black;
    font-weight: bold;
  }
}



@media (min-width: 992px) and (max-width: 1199px) {
  .form-inline .form-control {
  	width: 250px;
  }

}



/* Make footers awesome */
@media (max-width: 767px){
  footer.makefooter{
    margin-left:15px;
    margin-right:15px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  footer.makefooter{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
/*
  footer{
    padding-left: 0;
    padding-right: 0;
  }
*/
}
@media (min-width: 992px) {
  footer.makefooter{
    width: 970px;
  }

  div.navbar-collapse.blackbackground li{
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  footer.makefooter {
    width: 1170px;
  }


  div.navbar-collapse.blackbackground li{
    padding-right: 30px;
  }
}


.navbar-toggle .icon-bar + .icon-bar{
  margin-top: 2px;
}

.navbar-toggle .icon-bar{
  height: 4px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #090000;
}

li{
  list-style-type: none;
}

footer.makefooter>ul{
  margin-bottom: 0;
  padding-left: 0;
}

div.shadowandoverlap a:link,div.shadowandoverlap a:focus,div.shadowandoverlap a:visited,div.shadowandoverlap a:hover{
  background-color:#bf0c3b;
  padding: 0px 8px;
  border-radius: 0;
  color: white;
  border: 0px;
  text-decoration: none;
}

.formore{
  text-align: right;
}

nav.navbar{
  background-color:white; 
}


.nopadding-left{
  padding-left:0;
}

.paddingtop-bottommargin{
  padding-top: 10px;
  margin-bottom: 0;
}

.blackbackground{
  padding-left:0;
  padding-right:0;
}

.blackbackground .container{
  padding-left:0;
  padding-right:0;
}

@media (min-width: 768px){
  .nopadding-left{
    padding-left:15px;
  }
}